body {
    background-color: rgb(38, 39, 39);
}

/* HEADER */

header {
    height: 150px;
    width: 100%;
    background-color: #01B170;
    line-height: 80px;
    text-align: center;
}

h1{
    color: rgb(228, 6, 239);
    font-size: 3rem;

}

img {
    max-width: 100%;
    height: 150px;
}

ul{
    list-style-type: none;
}

.wrapper ul {
    color:rgb(22, 189, 194);
    font-size: 1.6rem;
}

a {
    cursor: pointer;

}

input{
    width: 350px;
}

.error-alert, .finish{
    color: red;
    font-size: 3rem;

}

/* classi da aggiungere dopo gli eventi */
.crossed {
    font-size: 4rem;
    text-decoration: line-through;
 }

 /* Imposta l'effetto di dissolvenza per 3s */
 .dissolvenza {
    transition: opacity 3s ease-in-out;       
    opacity: 0;                           /* Rendi il task trasparente */       
}

