body {
    background-color: rgb(38, 39, 39);
}

/* HEADER */

header {
    height: 150px;
    width: 100%;
    background-color: #01B170;
    line-height: 80px;
    text-align: center;
}

img {
    max-width: 100%;
    height: 150px;
}

ul{
    list-style-type: none;
}

.wrapper ul {
    color:rgb(127, 103, 215);
    font-size: 1.6rem;
    
}

input{
    width: 350px;
}

.error-alert{
    color: red;
    font-size: 1.6rem;

}

.crossed {
    text-decoration: line-through;
  }