<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- VUE LINK -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- FONTAWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">

    <!-- CSS CUSTOM -->
    <link rel="stylesheet" href="css/style.css">
    <title>TO DO LIST</title>
</head>


<body>
    <div id="app" class="container">
        <header class="header">
            <img src="img/to do.jpg" alt="" />
        </header>

        <main>
            <div class="wrapper text-center mx-auto row-cols-1">
                <h1>TO DO LIST</h1>

                <div class="d-flex flex-column align-items-center mb-3">
                    <p class="error-alert" v-show="alertError">Errore! Non hai inserito niente!!!!</p>
                    <input type="text" placeholder="Inserisci un nuovo task" @keyup.enter="addTask" v-model.trim="newText">
                    <!--.trim controlla subito se non ci sono spazi come primo e ultimo carattere -->

                    <button class="btn btn-success  my-4 align-self-center" @click="addTask">Aggiungi</button>
                </div>
                <ul class="" v-if="tasks.length > 0">
                    <li v-for="(elemento,index) in tasks" class="d-flex flex-row justify-content-center gap-4"
                    :class="{'crossed': elemento.done, 'dissolvenza':elemento.done }"> <!--posso aggiungere una classe css tramite controllo ternaio inline megaridotto cosi o 
                                                                                :class="elemento.done ? 'crossed' : ''"-->
                        <p>{{elemento.text}}</p>
                        <a @click="finish(index)"><i class="fa-solid fa-check fa-shake" style="color: #66ff00;"></i></a>
                        <!--Le icone tremano e finche non si cliccano, il task non scompare-->
                    </li>
                </ul>
                <div v-else v-show="finish">
                    <p class="finish">BRAVO HAI FINITO TUTTOOOOOOOOOOOOOO !!!!!!!!!!!</p>
                </div>
            </div>
        </main>

    </div>
    <script src="js/script.js"></script>
</body>

</html>


<!-- > -->